<a href="/#/" class="accordion_left_a">
    <div class="accordion_left" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon  glyphicon-bookmark" >&nbsp;首页</i>
    </div>
</a>
<a href="/#/backend/postAdd" class="accordion_left_a"  >
    <div class="accordion_left" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon  glyphicon-bookmark" >&nbsp;文章发布</i>
    </div>
</a>
<a href="/#/backend/postList" class="accordion_left_a" >
    <div class="accordion_left" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-tree-deciduous" >&nbsp;文章列表</i>
    </div>
</a>
<a href="/#/backend/blogCate" class="accordion_left_a">
    <div class="accordion_left" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-align-left">&nbsp;文章分类</i>
    </div>
</a>
<a href="/#/backend/homepage" class="accordion_left_a">
    <div class="accordion_left" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-align-left">&nbsp;首页设置</i>
    </div>
</a>