<div  class="row" >
	<nav class="navbar navbar-inverse navbar-fixed-top" >
		<div class="container-fluid">

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"  >

				<ul class="nav navbar-nav navbar-right" style="margin-right: 18%;">
					<li class="navbar-header"><a class="navbar-brand" href="#">CanvasChen Blog</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Technology <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/post:1001">技术积累01</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ReadingKeep <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/post:2001">阅读积累01</a></li>

						</ul>
					</li>
					<li><a href="/#/about">About</a></li>
					<li ><a  href="#">SinaLink</a></li>
					<li ><a  href="/#/backend">Backend</a></li>

				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>


	<div  class="col-md-2"></div>
	<div  class="col-md-8">
		<br><br><br><br><br>
		<div  style="text-align: center;" >

			目&nbsp;&nbsp;&nbsp;&nbsp;录
		</div>
		<br>
		<div  style="text-align: center;" >
				<ul>
					<li ng-repeat="bloginfo in blogLists"  style="list-style:none;margin-top: 2%;">

						【<span   ng-click="post_reading_cli(bloginfo._id);" style="cursor:pointer; text-decoration:none;">{{bloginfo.title}}</span>】
						/&nbsp;&nbsp;<span  >{{bloginfo.author}}</span>
						/&nbsp;&nbsp;<span>{{bloginfo.createdate  | date : 'yyyy-MM-dd'}}</span>

					</li>
				</ul>



		</div>

		<br>  <br>

		<div  style="text-align: center;color: #AAA; font-size: 11px;" >

			苏ICP备15024208号-1 ,Copyright  <i class="glyphicon glyphicon-copyright-mark "></i> 2015 ,All Rights Reserved.
		</div>


	</div>
	<div  class="col-md-2"></div>






</div>